TWO TAILED TEST

In [ ]:
import numpy as np
import scipy.stats as st

In [ ]:

n = 30
xbar = 140
mu = 100
sigma = 15
alpha = 0.05

In [ ]:
z_critical = st.norm.ppf(1-(alpha/2))
z_critical

1.959963984540054

In [ ]:
z = (xbar-mu)/(sigma/np.sqrt(n))
z

14.60593486680443

In [ ]:
if (z < z_critical) and (z > -z_critical): 
    print("Null hypothesis cannot be rejected")
else:
    print("Reject null hypothesis")

Reject null hypothesis

RIGHT TAILED TEST

In [ ]:
n = 200
xbar = 147
mu = 145
sigma = 20
alpha = 0.05

In [ ]:
z_critical = abs(st.norm.ppf(alpha))
z_critical

1.6448536269514729

In [ ]:
z = (xbar-mu)/(sigma/np.sqrt(n))
z

1.4142135623730951

In [ ]:
if (z < z_critical): 
    print("Fail to Reject null hypothesis")
else:
    print("Reject null hypothesis")

Fail to Reject null hypothesis

LEFT TAILED TEST

In [ ]:
n = 30
xbar = 9900
mu = 10000
sigma = 120
alpha = 0.05

In [ ]:
z_critical = st.norm.ppf(alpha)
z_critical

-1.6448536269514729

In [ ]:
z = (xbar-mu)/(sigma/np.sqrt(n))
z

-4.564354645876384

In [ ]:
if (z > z_critical): 
    print("Fail to Reject null hypothesis")
else:
    print("Reject null hypothesis")

Reject null hypothesis

z-Test using P-value

Left-tailed test: p-value = cdf(x)

Right-tailed test: p-value = 1 - cdf(x)

Two tail : p-value = 2*(1-cdf(|x|))

TWO TAIL TEST

In [ ]:
#H0 : μ = 8 and Ha : μ != 8
n = 30
xbar = 140
mu = 100
sigma = 15
alpha = 0.05

In [ ]:
z = (xbar-mu)/(sigma/np.sqrt(n))
z

14.60593486680443

In [ ]:
p_val = (1 - st.norm.cdf(abs(z))) * 2
p_val

0.0

In [ ]:
if (p_val > alpha):
    print("Null hypothesis cannot be rejected")
else:
    print("Reject null hypothesis")

Null hypothesis cannot be rejected

Right tail test

In [ ]:
n = 50
xbar = 305
mu = 300
sigma = 30
alpha = 0.05

In [ ]:
z = (xbar-mu)/(sigma/np.sqrt(n))
print("z value :", z)

z value : 1.1785113019775793

In [ ]:
p_val = (1 - st.norm.cdf(abs(z)))
p_val

0.11929641465821783

In [ ]:
if (p_val > alpha):
    print("Null hypothesis cannot be rejected")
else:
    print("Reject null hypothesis")

Null hypothesis cannot be rejected

LEFT TAIL

In [ ]:
n = 30
xbar = 9900
mu = 10000
sigma = 120
alpha = 0.05

In [ ]:
z = (xbar-mu)/(sigma/np.sqrt(n))
print("z value :", z)

z value : -4.564354645876384

In [ ]:
p_val = st.norm.cdf(z)
p_val

2.5051659781952214e-06

In [ ]:
if (p_val > alpha):
    print("Null hypothesis cannot be rejected")
else:
    print("Reject null hypothesis")

Reject null hypothesis

T-TEST

TWO TAIL

In [ ]:
#H0 : μ = 16.3, Ha : μ != 16.3
n = 20
degrees_of_freedom = n-1
xbar = 3.18
mu = 3.10
s = 0.54
alpha = 0.05

In [ ]:
t = (xbar - mu)/(s / np.sqrt(n))
t

0.6625386599999382

In [ ]:
t_critical = st.t.ppf(alpha/2, degrees_of_freedom)
t_critical

-2.0930240544082634

In [ ]:
if (abs(t) < abs(t_critical)): 
    print("Null hypothesis cannot be rejected")
else:
    print("Reject null hypothesis")

Null hypothesis cannot be rejected

RIGHT TAIL

In [ ]:
n = 11
degrees_of_freedom = n-1
xbar = 8.7
mu = 7
s = 2.7
alpha = 0.10

In [ ]:
t = (xbar - mu)/(s / np.sqrt(n))
t

2.0882452383719174

In [ ]:
t_critical = abs(st.t.ppf(alpha, degrees_of_freedom))
t_critical

1.3721836411102861

In [ ]:
if (abs(t) < abs(t_critical)): 
    print("Null hypothesis cannot be rejected")
else:
    print("Reject null hypothesis")

Reject null hypothesis

LEFT TAIL

In [ ]:
n = 64
degrees_of_freedom = n-1
xbar = 3.57
mu = 3.7
s = 0.8
alpha = 0.05

In [ ]:
t = (xbar - mu)/(s / np.sqrt(n))
t

-1.3000000000000034

In [ ]:
t_critical = st.t.ppf(alpha, degrees_of_freedom)
t_critical

-1.6694022215079614

In [ ]:
if t > t_critical: 
    print("Null hypothesis cannot be rejected")
else:
    print("Reject null hypothesis")

Null hypothesis cannot be rejected

t-Test using P-value

In [ ]:
n = 15
degrees_of_freedom = n-1
xbar = 40.6
mu = 36.7
s = 6
alpha = 0.05

In [ ]:
t = (xbar - mu)/(s / np.sqrt(n))
t

2.51743917503482

In [ ]:
p_val = (1 - st.t.cdf(abs(t), degrees_of_freedom)) #"1 - cdf" because it's a right-tailed test
p_val

0.012311189053656801

In [ ]:
if (p_val > alpha):
    print("Null hypothesis cannot be rejected")
else:
    print("Reject null hypothesis")

Reject null hypothesis